.Projects {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  height: 70%;
  width: 80%;
  background-color: rgb(72, 72, 72);
  padding: 2%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Primary {
  height: 70%;
  box-sizing: border-box;
  background-color: rgba(207, 105, 235, 0.427);
  display: grid;
  grid-template-areas: "image title"
  "image descript";
  grid-template-rows: 10% 90%;
  grid-template-columns: 60% 40%;
}

.image {
  grid-area: image;
  width: 100%;
  position: relative;
  // overflow: hidden;
  background: rgba(10, 10, 10, 0.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  button {
    background: none;
    color: white;
    border: none;
    text-shadow: black 1px 1px 2px;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transition: color .5s;


    &:hover {
      cursor: pointer;
      color: #e262f5;
    }
  }

  .left {
    left: -5px;
  }

  .right {
    right: -5px;
  }
}

.descript {
  grid-area: descript;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.tool_icons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .tool {
    margin: .5rem .75rem;
    position: relative;
    background: rgba(200, 200, 200, 0.3);
    padding: .5rem;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px black;


    & img {
      height: 2.2rem;
      width: 2.2rem;
    }
  }
}

.tip {
  visibility: hidden;
  width: 5rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -1.5rem;
  left: 2.3rem;
  margin-left: -60px;
  text-transform: uppercase;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tool:hover .tip {
  visibility: visible;
  opacity: 1;
}

.tool .tip::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
// !! --------------------------
// !! --------------------------

.Preview {
  box-sizing: border-box;
  background-color: rgba(105, 205, 235, 0.427);
  height: 30%;
  width: 100%;
  padding: 2%;
  display: flex;


  .thumbnail {
    margin: 1.2rem;
    height: 80%;
    width: 20%;
    background-color: rgba(156, 159, 123, 0.427);
  }
}