nav {
  position: fixed;
    top: 0;
    left: 0;
    width: 98vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Audiowide', cursive;
    font-size: 1.2rem;
}